.mat-card {
    color: var(--primary-color);
    width: 500px;
}

.mat-divider {
    margin: 1.5em 0;
}

.mat-form-field {
    min-width: 100%;
    min-height: var(--input-height);
    height: auto;
}

.thisContainer {
    /* background: lightpink; */
    min-width: 500px;
    width: 70%;
}

.notification {
    color: blue;
    margin-bottom: 10px;
}