/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    --primary-color: #044b7f;
    --hover-color: #13aff0;
    --min-all-width: 600px;
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Open Sans';
}

.pageContainer {
    min-width: var(--min-all-width);
    width: 80%;
    margin: auto;
    height: fit-content;

    /* background: lightgreen; */
    text-align: center;
    
    color: var(--primary-color);
}

.mainContainer {
    text-align: left;
    width: 100%;
    margin: 1em 0;

    /* background: lightblue; */
}

.mainContainer h2 {
    margin-bottom: 1em;
}

.toRight {
    float: right;
}

.toLeft {
    float: left;
}

.centerBoth {
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 2em;  
    display: inline;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    cursor: pointer;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}