h3 {
    margin-bottom: 1em;
}

.mat-card {
    color: var(--primary-color);
    width: fit-content;
    height: fit-content;
}

.mat-card-image {
    width: 500px;
    height: 500px;
}

.thisContainer {
    text-align: left;
}