<div class="pageContainer">
  <div class="mainContainer">
    <div class="thisContainer">
      
      <h2>Dashboard</h2>

      <div class="notification" *ngIf="this.allEnrolledCourses.length == 0 && this.checkedCourses">
        <mat-card>
          <p>
            You are not enrolled in any course yet.
          </p>
          <a routerLink="{{this.rs.ENROLL_PAGE.ROUTE}}">
            <button mat-raised-button 
              color="primary"
              title="Enroll courses">
              <b>Enroll courses</b>
            </button>
          </a>
        </mat-card>
      </div>

      <div *ngIf="this.allEnrolledCourses.length>0 && this.checkedCourses">
        <mat-card class="fullWidth">
          <h3>Choose course and topic</h3>

          <mat-form-field>
            <mat-select (selectionChange)="this.courseChange()" placeholder="Select a course" [(ngModel)]="this.selectedCourseId">
              <mat-option *ngFor="let course of this.allEnrolledCourses" [value]="course._id">
                {{course.courseCode}} - {{course.courseName}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="this.checkedTopics">

            <mat-select (selectionChange)="this.refreshPosts()" placeholder="Select a topic" [(ngModel)]="this.selectedTopicId">
              <mat-option *ngFor="let topic of this.selectedTopics" [value]="topic._id">
                {{topic.name}}
              </mat-option>
            </mat-select>

          </mat-form-field>

          <mat-checkbox *ngIf="this.selectedTopicId"
            (change)="this.searchModeChange($event.checked)"
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="this.searchMode">
            Toggle Search Mode
          </mat-checkbox>

          <button mat-icon-button *ngIf="this.selectedTopicId" (click)="this.refreshPosts()">
            <mat-icon>refresh</mat-icon>
          </button>

          <mat-card-actions>
            <button *ngIf="this.selectedTopicId"
              mat-raised-button 
              color="primary"
              title="Create a post"
              (click)="showNewPostForm()">
              <b>Create a post</b>
            </button>
          </mat-card-actions>

        </mat-card>
      </div>

      <div class="notification" *ngIf="this.selectedPosts.length == 0 && this.checkedPosts && !this.searchMode">
        No posts exist for this topic.
      </div>

      <div class="notification" *ngIf="this.searchMode && this.searched && this.selectedPosts.length==0">
        No posts exist for this search query.
      </div>

      <div *ngIf="this.searchMode">
        <mat-divider></mat-divider>
        <mat-card class="fullWidth" style="padding-bottom: 0">
          <h3>Search parameters</h3>

          <mat-form-field>
            <mat-select placeholder="Search method" [(ngModel)]="this.selectedSearchMethod">
              <mat-option *ngFor="let method of this.searchMethods" [value]="method">
                {{method | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <form [formGroup]="this.searchFormGroup" class="fullWidth">
            <div class="validationError" *ngIf="!this.searchFormGroup.controls['searchValidation'].valid && this.searchFormGroup.controls['searchValidation'].touched">
              <div *ngIf="this.searchFormGroup.controls['searchValidation'].hasError('required')">
                A search query is required.
              </div>
            </div>

            <mat-form-field>
              <input
                matInput 
                formControlName="searchValidation" 
                [(ngModel)]="this.searchQuery" 
                name="Search Query" 
                placeholder="What are you looking for">
            </mat-form-field>

            <mat-card-actions>
              <button
                mat-raised-button 
                color="primary"
                [disabled]="!this.searchFormGroup.valid"
                title="Search"
                (click)="search()">
                <b>Search</b>
              </button>
            </mat-card-actions>
          </form>
        </mat-card>
      </div>

      <div *ngIf="this.newPostVisibilityState">
        <mat-divider></mat-divider>
        <mat-card class="fullWidth" style="padding-bottom: 0">
          <h3>New Post</h3>

          <form [formGroup]="this.newPostForm" class="fullWidth">
            <div class="validationError" *ngIf="!this.newPostForm.controls['subjectValidation'].valid && this.newPostForm.controls['subjectValidation'].touched">
              <div *ngIf="this.newPostForm.controls['subjectValidation'].hasError('required')">
                Post subject is required.
              </div>
            </div>
            <div class="validationError" *ngIf="!this.newPostForm.controls['contentValidation'].valid && this.newPostForm.controls['contentValidation'].touched">
              <div *ngIf="this.newPostForm.controls['contentValidation'].hasError('required')">
                Post content is required.
              </div>
            </div>

            <mat-form-field>
              <input
                matInput 
                formControlName="subjectValidation" 
                [(ngModel)]="this.newPost.subject" 
                name="Post subject" 
                placeholder="Post subject">
            </mat-form-field>
            <br>
            <mat-form-field>
              <textarea 
                matInput 
                formControlName="contentValidation" 
                [(ngModel)]="this.newPost.content" 
                name="Post content"
                enabled="true"
                matAutosizeMaxRows="20"
                matTextareaAutosize="true"
                placeholder="Post content">

              </textarea>
            </mat-form-field>

            <mat-checkbox
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="this.newPost.isResolved">
              Resolved
            </mat-checkbox>

            <mat-card-actions>
              <button mat-raised-button 
                color="primary"
                [disabled]="!this.newPostForm.valid"
                (click)="this.createAPost()" 
                title="Post!">
                <b>Post!</b>
              </button>
              <button mat-raised-button 
                (click)="this.hideNewPostForm()" 
                title="Cancel">
                <b>Cancel</b>
              </button>
            </mat-card-actions>
          </form>
        </mat-card>
      </div>

      <div *ngIf="this.selectedPosts.length>0 && this.checkedPosts" class="bigMenu">
        <mat-divider></mat-divider>

        <mat-drawer-container style="height: 2em;">
          <mat-drawer mode="side" opened>
            <div class="center" style="border-bottom: 0;"><h3>All Posts</h3></div>
          </mat-drawer>
          <mat-drawer-content>
            <div class="center" style="border-bottom: 0;"><h3>Post</h3></div>
          </mat-drawer-content>
        </mat-drawer-container>

        <mat-drawer-container>
          
          <mat-drawer mode="side" opened>
            <div *ngFor="let post of this.selectedPosts">
              <mat-card [ngClass]="{'postCard': true, 'clickable': true,
                'activePost': post?._id == this.selectedPost?._id}" 
                (click)="setPostAndDiscussions(post)">
                <mat-card-header>
                  <img mat-card-avatar [src]="post.postedBy.photoURL" class="avatar">
                  <mat-card-title [ngClass]="{'activePost': post?._id == this.selectedPost?._id}"><h3>{{post.subject}}</h3></mat-card-title>
                  <mat-card-subtitle [ngClass]="{'activePost': post?._id == this.selectedPost?._id}" class="restrictHeight">{{post.content}}</mat-card-subtitle>  
                </mat-card-header>

                <mat-card-footer [ngClass]="{'activePost': post?._id == this.selectedPost?._id}">
                  Posted on {{post.postedWhen | date: 'shortDate'}} at {{post.postedWhen | date: 'shortTime'}}
                </mat-card-footer>
              </mat-card>

            </div>
          </mat-drawer>
          
          <mat-drawer-content>
            <div *ngIf="this.selectedPost">
              <mat-card *ngIf="this.authService.userDetails && !this.postEditState[this.selectedPost._id]" [ngClass]="{'postCard': true}">
                <mat-card-header>
                  <img mat-card-avatar [src]="this.selectedPost.postedBy.photoURL" class="avatar">
                  <mat-card-title><h3>{{this.selectedPost.subject}}</h3></mat-card-title>
                  <mat-card-subtitle>
                    Posted by <b>{{this.selectedPost.postedBy.displayName}}</b> on {{this.selectedPost.postedWhen | date: 'shortDate'}} at {{this.selectedPost.postedWhen | date: 'shortTime'}}
                  </mat-card-subtitle>  
                </mat-card-header>

                <mat-card-content>{{this.selectedPost.content}}</mat-card-content>

                <mat-checkbox
                  [disabled] = "this.selectedPost.postedBy._id != this.authService.userDetails._id"
                  [(ngModel)]="this.selectedPost.isResolved"
                  (change)="this.updateAPost(this.selectedPost._id, this.selectedPost)">
                  Resolved
                </mat-checkbox>
                
                <mat-card-actions>
                  <button
                    [disabled]="this.selectedPost.postedBy._id != this.authService.userDetails._id"
                    mat-raised-button 
                    color="primary"
                    title="Edit post"
                    (click)="this.setPostEditState(this.selectedPost._id, true)">
                    <b>Edit</b>
                  </button>
                  <button
                    [disabled]="this.selectedPost.postedBy._id != this.authService.userDetails._id"
                    mat-raised-button 
                    color="warn"
                    title="Delete post"
                    (click)="this.deleteSelectedPost()">
                    <b>Delete</b>
                  </button>
                  <button *ngIf="this.selectedPost && this.checkedPosts" 
                    mat-raised-button 
                    color="accent"
                    title="Create a discussion"
                    (click)="this.showSelectedPostsDiscussion(true)">
                    <b>Start a discussion</b>
                  </button>
                </mat-card-actions>
              </mat-card>

              <!-- EDIT A POST -->
              <mat-card *ngIf="this.authService.userDetails && this.postEditState[this.selectedPost._id]" [ngClass]="{'postCard': true}" style="padding-bottom: 0">
                <h3>Edit Post</h3>

                <form [formGroup]="this.postFormValids[this.selectedPost._id]" class="fullWidth">
                  <div class="validationError" *ngIf="!this.postFormValids[this.selectedPost._id].controls['subjectValidation'].valid && this.postFormValids[this.selectedPost._id].controls['subjectValidation'].touched">
                    <div *ngIf="this.postFormValids[this.selectedPost._id].controls['subjectValidation'].hasError('required')">
                      Post subject is required.
                    </div>
                  </div>
                  <div class="validationError" *ngIf="!this.postFormValids[this.selectedPost._id].controls['contentValidation'].valid && this.postFormValids[this.selectedPost._id].controls['contentValidation'].touched">
                    <div *ngIf="this.postFormValids[this.selectedPost._id].controls['contentValidation'].hasError('required')">
                      Post content is required.
                    </div>
                  </div>
      
                  <mat-form-field>
                    <input
                      matInput 
                      formControlName="subjectValidation"
                      [(ngModel)]="this.selectedPost.subject" 
                      name="Post subject" 
                      placeholder="Post subject">
                  </mat-form-field>
                  <br>
                  <mat-form-field>
                    <textarea 
                      matInput 
                      formControlName="contentValidation" 
                      [(ngModel)]="this.selectedPost.content" 
                      name="Post content"
                      enabled="true"
                      matAutosizeMaxRows="20"
                      matTextareaAutosize="true"
                      placeholder="Post content">
      
                    </textarea>
                  </mat-form-field>
      
                  <mat-checkbox
                    [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="this.selectedPost.isResolved">
                    Resolved
                  </mat-checkbox>
      
                  <mat-card-actions>
                    <button mat-raised-button 
                      color="primary"
                      [disabled]="!this.postFormValids[this.selectedPost._id].valid"
                      (click)="this.setPostEditState(this.selectedPost._id, false); this.updateAPost(this.selectedPost._id, this.selectedPost);" 
                      title="Done">
                      <b>Done</b>
                    </button>
                  </mat-card-actions>
                </form>
              </mat-card>


              <!-- START A NEW DISCUSSION -->
              <div *ngIf="this.newDiscussionsVisibilityState[this.selectedPost._id]">
                <mat-card class="fullWidth" style="padding-bottom: 0">
                  <h3>New Discussion</h3>
        
                  <form [formGroup]="this.newDiscussionsFormValids[this.selectedPost._id]" class="fullWidth">
                    <div class="validationError" *ngIf="!this.newDiscussionsFormValids[this.selectedPost._id].controls['subjectValidation'].valid && this.newDiscussionsFormValids[this.selectedPost._id].controls['subjectValidation'].touched">
                      <div *ngIf="this.newDiscussionsFormValids[this.selectedPost._id].controls['subjectValidation'].hasError('required')">
                        Discussion subject is required.
                      </div>
                    </div>
                    <div class="validationError" *ngIf="!this.newDiscussionsFormValids[this.selectedPost._id].controls['contentValidation'].valid && this.newDiscussionsFormValids[this.selectedPost._id].controls['contentValidation'].touched">
                      <div *ngIf="this.newDiscussionsFormValids[this.selectedPost._id].controls['contentValidation'].hasError('required')">
                        Discussion content is required.
                      </div>
                    </div>
        
                    <mat-form-field>
                      <input
                        matInput 
                        formControlName="subjectValidation" 
                        [(ngModel)]="this.newDiscussions[this.selectedPost._id].subject" 
                        name="Discussion subject" 
                        placeholder="Discussion subject">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                      <textarea 
                        matInput 
                        formControlName="contentValidation" 
                        [(ngModel)]="this.newDiscussions[this.selectedPost._id].content" 
                        name="Discussion content"
                        enabled="true"
                        matAutosizeMaxRows="20"
                        matTextareaAutosize="true"
                        placeholder="Discussion content">
                      </textarea>
                    </mat-form-field>

                    <mat-card-actions>
                      <button mat-raised-button 
                        color="primary"
                        [disabled]="!this.newDiscussionsFormValids[this.selectedPost._id].valid"
                        (click)="this.createADiscussion()" 
                        title="Discuss!">
                        <b>Discuss!</b>
                      </button>
                      <button mat-raised-button 
                        (click)="this.cancelADiscussion()" 
                        title="Cancel">
                        <b>Cancel</b>
                      </button>
                    </mat-card-actions>
                  </form>
                </mat-card>
              </div>

              <div class="center"><h3>Followup Discussions</h3></div>
              <div *ngFor="let discussion of this.selectedPost.discussions">

                <mat-card *ngIf="!this.postEditState[discussion._id]" [ngClass]="{'postCard': true}">
                  <mat-card-header>
                    <img mat-card-avatar [src]="discussion.startedBy.photoURL" class="avatar">
                    <mat-card-title><h3>{{discussion.subject}}</h3></mat-card-title>
                    <mat-card-subtitle>
                      Posted by <b>{{discussion.startedBy.displayName}}</b> on {{discussion.postedWhen | date: 'shortDate'}} at {{discussion.postedWhen | date: 'shortTime'}}
                    </mat-card-subtitle>
                  </mat-card-header>

                  <mat-card-content>{{discussion.content}}</mat-card-content>

                  <mat-checkbox
                    [disabled] = "discussion.startedBy._id != this.authService.userDetails._id"
                    [(ngModel)]="discussion.isResolved"
                    (change)="this.updateDiscussion(discussion)">
                    Resolved
                  </mat-checkbox>

                  <mat-card-actions *ngIf="this.authService.userDetails">
                    <button
                      mat-raised-button
                      [disabled]="discussion.startedBy._id != this.authService.userDetails._id"
                      color="primary"
                      title="Delete"
                      (click)="this.setPostEditState(discussion._id, true)">
                      <b>Edit</b>
                    </button>
                    <button
                      mat-raised-button
                      [disabled]="discussion.startedBy._id != this.authService.userDetails._id"
                      color="warn"
                      title="Delete"
                      (click)="this.deleteADiscussion(discussion._id)">
                      <b>Delete</b>
                    </button>
                  </mat-card-actions>
                </mat-card>

                <!-- EDIT A DISCUSSION -->
                <mat-card *ngIf="this.postEditState[discussion._id]" class="fullWidth" style="padding-bottom: 0">
                  <h3>Edit Discussion</h3>
        
                  <form [formGroup]="this.postFormValids[discussion._id]" class="fullWidth">
                    <div class="validationError" *ngIf="!this.postFormValids[discussion._id].controls['subjectValidation'].valid && this.postFormValids[discussion._id].controls['subjectValidation'].touched">
                      <div *ngIf="this.postFormValids[discussion._id].controls['subjectValidation'].hasError('required')">
                        Discussion subject is required.
                      </div>
                    </div>
                    <div class="validationError" *ngIf="!this.postFormValids[discussion._id].controls['contentValidation'].valid && this.postFormValids[discussion._id].controls['contentValidation'].touched">
                      <div *ngIf="this.postFormValids[discussion._id].controls['contentValidation'].hasError('required')">
                        Discussion content is required.
                      </div>
                    </div>
        
                    <mat-form-field>
                      <input
                        matInput 
                        formControlName="subjectValidation" 
                        [(ngModel)]="discussion.subject" 
                        name="Discussion subject" 
                        placeholder="Discussion subject">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                      <textarea 
                        matInput 
                        formControlName="contentValidation" 
                        [(ngModel)]="discussion.content" 
                        name="Discussion content"
                        enabled="true"
                        matAutosizeMaxRows="20"
                        matTextareaAutosize="true"
                        placeholder="Discussion content">
                      </textarea>
                    </mat-form-field>
                    <mat-checkbox
                      [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="discussion.isResolved">
                      Resolved
                    </mat-checkbox>

                    <mat-card-actions>
                      <button mat-raised-button 
                        color="primary"
                        [disabled]="!this.postFormValids[discussion._id].valid"
                        (click)="this.setPostEditState(discussion._id, false); this.updateAPost(this.selectedPost._id, this.selectedPost);" 
                        title="Done">
                        <b>Done</b>
                      </button>
                    </mat-card-actions>
                  </form>
                </mat-card>

              </div>
            </div>

          </mat-drawer-content>
        </mat-drawer-container>

      </div>

    </div>
  </div>
</div>
