<div class="pageContainer">
  <div class="mainContainer">
    <div class="thisContainer">
      
      <h2>Dashboard</h2>

      <div class="notification" *ngIf="this.allEnrolledCourses.length == 0 && this.checkedCourses">
        <mat-card>
          <p>
            You are not enrolled in any course yet.
          </p>
          <a routerLink="{{this.rs.ENROLL_PAGE.ROUTE}}">
            <button mat-raised-button 
              color="primary"
              title="Enroll courses">
              <b>Enroll courses</b>
            </button>
          </a>
        </mat-card>
      </div>

      <div *ngIf="this.allEnrolledCourses.length>0 && this.checkedCourses">
        <mat-card class="fullWidth">
          <h3>Choose course and topic</h3>

          <mat-form-field>
            <mat-select (selectionChange)="this.courseChange()" placeholder="Select a course" [(ngModel)]="this.selectedCourseId">
              <mat-option *ngFor="let course of this.allEnrolledCourses" [value]="course._id">
                {{course.courseCode}} - {{course.courseName}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="this.checkedTopics">

            <mat-select (selectionChange)="this.refreshPosts()" placeholder="Select a topic" [(ngModel)]="this.selectedTopicId">
              <mat-option *ngFor="let topic of this.selectedTopics" [value]="topic._id">
                {{topic.name}}
              </mat-option>
            </mat-select>

          </mat-form-field>

          <mat-card-actions>
            <button *ngIf="this.selectedTopicId" 
              mat-raised-button 
              color="primary"
              title="Create a post"
              (click)="setNewPostState(true)">
              <b>Create a post</b>
            </button>
          </mat-card-actions>

        </mat-card>
      </div>

      <div class="notification" *ngIf="this.selectedPosts.length == 0 && this.checkedPosts">
        No posts exist for this topic.
      </div>

      <div *ngIf="this.newPostVisibilityState">
        <mat-divider></mat-divider>
        <mat-card class="fullWidth">
          <h3>New Post</h3>

          <form [formGroup]="this.newPostForm" class="fullWidth">
            <div class="validationError" *ngIf="!this.newPostForm.controls['subjectValidation'].valid && this.newPostForm.controls['subjectValidation'].touched">
              <div *ngIf="this.newPostForm.controls['subjectValidation'].hasError('required')">
                Post subject is required.
              </div>
            </div>
            <div class="validationError" *ngIf="!this.newPostForm.controls['contentValidation'].valid && this.newPostForm.controls['contentValidation'].touched">
              <div *ngIf="this.newPostForm.controls['contentValidation'].hasError('required')">
                Post content is required.
              </div>
            </div>

            <mat-form-field>
              <input
                matInput 
                formControlName="subjectValidation" 
                [(ngModel)]="this.newPost.subject" 
                name="Post subject" 
                placeholder="Post subject">
            </mat-form-field>
            <br>
            <mat-form-field>
              <textarea 
                matInput 
                formControlName="contentValidation" 
                [(ngModel)]="this.newPost.content" 
                name="Post content"
                enabled="true"
                matAutosizeMaxRows="20"
                matTextareaAutosize="true"
                placeholder="Post content">

              </textarea>
            </mat-form-field>

            <mat-card-actions>
              <button mat-raised-button 
                color="primary"
                [disabled]="!this.newPostForm.valid"
                (click)="this.createAPost()" 
                title="Post!">
                <b>Post!</b>
              </button>
              <button mat-raised-button 
                (click)="this.cancelNewPost()" 
                title="Cancel">
                <b>Cancel</b>
              </button>
            </mat-card-actions>
          </form>
        </mat-card>
      </div>

      <div *ngIf="this.selectedPosts.length>0 && this.checkedPosts" class="bigMenu">
        <mat-divider></mat-divider>

        <mat-drawer-container style="height: 2em;">
          <mat-drawer mode="side" opened>
            <div class="center" style="border-bottom: 0;"><h3>All Posts</h3></div>
          </mat-drawer>
          <mat-drawer-content>
            <div class="center" style="border-bottom: 0;"><h3>Post</h3></div>
          </mat-drawer-content>
        </mat-drawer-container>

        <mat-drawer-container>
          
          <mat-drawer mode="side" opened>
            <div *ngFor="let post of this.selectedPosts">
              <mat-card [ngClass]="{'postCard': true, 'clickable': true,
                'activePost': post?._id == this.selectedPost?._id}" 
                (click)="setPostAndDiscussions(post)">
                <mat-card-header>
                  <img mat-card-avatar [src]="post.postedBy.photoURL" class="avatar">
                  <mat-card-title [ngClass]="{'activePost': post?._id == this.selectedPost?._id}"><h3>{{post.subject}}</h3></mat-card-title>
                  <mat-card-subtitle [ngClass]="{'activePost': post?._id == this.selectedPost?._id}" class="restrictHeight">{{post.content}}</mat-card-subtitle>  
                </mat-card-header>

                <mat-card-footer [ngClass]="{'activePost': post?._id == this.selectedPost?._id}">
                  Posted on {{post.postedWhen | date: 'shortDate'}} at {{post.postedWhen | date: 'shortTime'}}
                </mat-card-footer>
              </mat-card>

            </div>
          </mat-drawer>
          
          <mat-drawer-content>
            <div *ngIf="this.selectedPost">
              <mat-card *ngIf="this.selectedPost" [ngClass]="{'postCard': true}">
                <mat-card-header>
                  <img mat-card-avatar [src]="this.selectedPost.postedBy.photoURL" class="avatar">
                  <mat-card-title><h3>{{this.selectedPost.subject}}</h3></mat-card-title>
                  <mat-card-subtitle>
                    Posted by {{this.selectedPost.postedBy.displayName}} on {{this.selectedPost.postedWhen | date: 'shortDate'}} at {{this.selectedPost.postedWhen | date: 'shortTime'}}
                  </mat-card-subtitle>  
                </mat-card-header>

                <mat-card-content>{{this.selectedPost.content}}</mat-card-content>
                
                <mat-card-actions>
                  <button *ngIf="this.selectedPost && this.checkedPosts" 
                    mat-raised-button 
                    color="primary"
                    title="Create a discussion"
                    (click)="this.showSelectedPostsDiscussion(true)">
                    <b>Start a discussion</b>
                  </button>

                  <button *ngIf="this.selectedPost && this.checkedPosts && this.selectedPost.postedBy._id == this.authService.userDetails._id"
                    mat-raised-button 
                    color="warn"
                    title="Delete post"
                    (click)="this.deleteSelectedPost()">
                    <b>Delete post</b>
                  </button>
                </mat-card-actions>
              </mat-card>


              <!-- Form for starting a new discussion -->
              <div *ngIf="this.newDiscussionsVisibilityState[this.selectedPost._id]">
                <mat-card class="fullWidth" style="padding-bottom: 0">
                  <h3>New Discussion</h3>
        
                  <form [formGroup]="this.newDiscussionsFormValids[this.selectedPost._id]" class="fullWidth">
                    <div class="validationError" *ngIf="!this.newDiscussionsFormValids[this.selectedPost._id].controls['subjectValidation'].valid && this.newDiscussionsFormValids[this.selectedPost._id].controls['subjectValidation'].touched">
                      <div *ngIf="this.newDiscussionsFormValids[this.selectedPost._id].controls['subjectValidation'].hasError('required')">
                        Discussion subject is required.
                      </div>
                    </div>
                    <div class="validationError" *ngIf="!this.newDiscussionsFormValids[this.selectedPost._id].controls['contentValidation'].valid && this.newDiscussionsFormValids[this.selectedPost._id].controls['contentValidation'].touched">
                      <div *ngIf="this.newDiscussionsFormValids[this.selectedPost._id].controls['contentValidation'].hasError('required')">
                        Discussion content is required.
                      </div>
                    </div>
        
                    <mat-form-field>
                      <input
                        matInput 
                        formControlName="subjectValidation" 
                        [(ngModel)]="this.newDiscussions[this.selectedPost._id].subject" 
                        name="Post subject" 
                        placeholder="Post subject">
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                      <textarea 
                        matInput 
                        formControlName="contentValidation" 
                        [(ngModel)]="this.newDiscussions[this.selectedPost._id].content" 
                        name="Post content"
                        enabled="true"
                        matAutosizeMaxRows="20"
                        matTextareaAutosize="true"
                        placeholder="Post content">
                      </textarea>
                    </mat-form-field>

                    <mat-card-actions>
                      <button mat-raised-button 
                        color="primary"
                        [disabled]="!this.newDiscussionsFormValids[this.selectedPost._id].valid"
                        (click)="this.createADiscussion()" 
                        title="Discuss!">
                        <b>Discuss!</b>
                      </button>
                      <button mat-raised-button 
                        (click)="this.cancelADiscussion()" 
                        title="Cancel">
                        <b>Cancel</b>
                      </button>
                    </mat-card-actions>
                  </form>
                </mat-card>
              </div>

              <div class="center"><h3>Followup Discussions</h3></div>
              <mat-card [ngClass]="{'postCard': true}" *ngFor="let discussion of this.selectedPost.discussions">
                <mat-card-header>
                  <img mat-card-avatar [src]="discussion.startedBy.photoURL" class="avatar">
                  <mat-card-title><h3>{{discussion.subject}}</h3></mat-card-title>
                  <mat-card-subtitle>Last updated: {{discussion.postedWhen | date: 'short'}}</mat-card-subtitle>  
                </mat-card-header>

                <mat-card-content>{{discussion.content}}</mat-card-content>

                <mat-card-actions *ngIf="this.authService.userDetails._id">
                  <button *ngIf="this.selectedPost && this.checkedPosts && this.discussion.startedBy._id == this.authService.userDetails._id"
                    mat-raised-button 
                    color="warn"
                    title="Delete"
                    (click)="this.deleteADiscussion(discussion._id)">
                    <b>Delete</b>
                  </button>
                </mat-card-actions>

              </mat-card>
            </div>

          </mat-drawer-content>
        </mat-drawer-container>

      </div>

    </div>
  </div>
</div>
