<div class="pageContainer">
  <div class="mainContainer">
    <div class="thisContainer">
      
      <h2>Search</h2>

      <div class="notification" *ngIf="this.allEnrolledCourses.length == 0 && this.checkedCourses">
        <mat-card>
          <p>
            You are not enrolled in any course yet.
          </p>
          <a routerLink="{{this.rs.ENROLL_PAGE.ROUTE}}">
            <button mat-raised-button 
              color="primary"
              title="Enroll courses">
              <b>Enroll courses</b>
            </button>
          </a>
        </mat-card>
      </div>

      <div *ngIf="this.allEnrolledCourses.length>0 && this.checkedCourses">
        <mat-card class="fullWidth">
          <h3>Choose course and topic</h3>

          <mat-form-field>
            <mat-select (selectionChange)="this.courseChange()" placeholder="Select a course" [(ngModel)]="this.selectedCourseId">
              <mat-option *ngFor="let course of this.allEnrolledCourses" [value]="course._id">
                {{course.courseCode}} - {{course.courseName}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="this.checkedTopics">

            <mat-select placeholder="Select a topic" [(ngModel)]="this.selectedTopicId">
              <mat-option *ngFor="let topic of this.selectedTopics" [value]="topic._id">
                {{topic.name}}
              </mat-option>
            </mat-select>

          </mat-form-field>

          <mat-card-actions>
          </mat-card-actions>

        </mat-card>
      </div>

      <div *ngIf="this.selectedTopicId">
        <mat-divider></mat-divider>
        <mat-card class="fullWidth" style="padding-bottom: 0">
          <h3>Search parameters</h3>

          <mat-form-field>
            <mat-select placeholder="Search method" [(ngModel)]="this.selectedSearchMethod">
              <mat-option *ngFor="let method of this.searchMethods" [value]="method">
                {{method | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <form [formGroup]="this.searchFormGroup" class="fullWidth">
            <div class="validationError" *ngIf="!this.searchFormGroup.controls['searchValidation'].valid && this.searchFormGroup.controls['searchValidation'].touched">
              <div *ngIf="this.searchFormGroup.controls['searchValidation'].hasError('required')">
                A search parameter is required.
              </div>
            </div>

            <mat-form-field>
              <input
                matInput 
                formControlName="searchValidation" 
                [(ngModel)]="this.searchQuery" 
                name="Search Query" 
                placeholder="What are you looking for">
            </mat-form-field>

            <mat-card-actions>
              <button
                mat-raised-button 
                color="primary"
                [disabled]="!this.searchFormGroup.valid"
                title="Search"
                (click)="search()">
                <b>Search</b>
              </button>
            </mat-card-actions>
          </form>
        </mat-card>
      </div>

    </div>
  </div>
</div>