<div id="header">

  <div id="titleContainer">
    <div id="titleContent">
      <h1><a routerLink="{{rs.LANDING_PAGE.ROUTE}}"> {{gs.APP_NAME}} </a></h1>
      <mat-progress-bar *ngIf="gs.IN_PROGRESS" class="example-margin" mode="indeterminate"></mat-progress-bar>
    </div>
  </div>

  <div id="navbarContainer">
    <div id="navbarContent">

      <div class="flat">
        <div *ngIf="this.authService.isLoggedIn()" title="Logout" class="linkBox">
          <a class="centerBoth" routerLink="{{this.rs.LOGIN_PAGE.ROUTE}}" (click)="this.authService.logout()"><i class="material-icons ">exit_to_app</i></a>
        </div>
        <div *ngIf="this.authService.isLoggedIn()" title="{{yourAccountTitle}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="linkBox">
          <a class="centerBoth" routerLink="{{rs.YOUR_ACCOUNT_PAGE.ROUTE}}"><i class="material-icons">account_box</i></a>
        </div>
        <div *ngIf="this.authService.isLoggedIn()" title="{{yourAccountTitle}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="linkBox">
          <a class="centerBoth" routerLink="{{rs.SEARCH_PAGE.ROUTE}}"><i class="material-icons">search</i></a>
        </div>
        <div *ngIf="this.authService.isLoggedIn()" title={{dashboardTitle}} routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="linkBox">
          <a class="centerBoth" routerLink="{{rs.LANDING_PAGE.ROUTE}}"><i class="material-icons">dashboard</i></a>
        </div>

      </div>

    </div>
  </div>
  
</div>